<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه اول برنامه ی من</title>
</head>
<style>
    h1{
        text-align: center;
        font-size: 50px;
        color: black;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.082);
    }
    h2{
        text-align: center;
    }

    a button {
        text-align: center;
        margin-left: 45%;
        position: absolute;
        
    }
</style>
<body>
    <h1>
    سلام جنگو من سینا هستم         
    </h1>
    <h2>
        --------------------------------------------------
    </h2>
    <a href="http://127.0.0.1:8000/page1/">
        <button>رفتن به صفحه ی دوم</button>
    </a>
</body>
</html>